.container {
  width: 230px;
  flex-shrink: 0;
}

.aside {
  width: inherit;
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--color-background);
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  color: var(--accent-a11);
  text-decoration: none;
  font-size: var(--font-size-2);
  letter-spacing: var(--letter-spacing-2);
  line-height: var(--line-height-2);
  border-radius: var(--radius-4);
  padding: var(--space-2);
}

.button:hover {
  background-color: var(--accent-a3);
}

.buttonActive {
  color: var(--accent-a11);
  background-color: var(--accent-a4);
}

@media (max-width: 768px) {
  .container {
    width: 0;
  }

  .visible.container {
    width: 100%;
  }
}